html,
body {
  min-width: 1200px;
  background-color: #f4f4f4 !important;
  height: 100% !important;
}

.w-1200 {
  width: 1200px !important;
  margin: 0 auto !important;
}

#header {
  width: 100%;
  margin-bottom: 10px;
}

#header .header-top {
  height: 100px;
}

#header .header-top .logo {
  width: 250px;
  height: 100px;
  float: left;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  font-weight: bolder;
}

#header .header-top .logo img {
  width: 90px;
  display: block;
  margin-top: 5px;
  float: left;
}

#header .header-top .search {
  width: 400px;
  height: 100px;
  float: right;
  padding-top: 15px;
}

.header-bottom {
  min-width: 1200px;
  height: 50px;
  background-color: red;
}

.header-bottom .header-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-bottom .header-nav li {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.header-bottom .header-nav li a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  height: 50px;
  font-weight: bold;
  display: block;
  padding: 0 20px;
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1), 4px 4px 10px -8px rgba(0, 0, 0, .3);
}

.header-bottom .header-nav li a.active,
.header-bottom .header-nav li a:hover {
  color: #cccccc;
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset, 4px 4px 10px -8px rgba(0, 0, 0, .3) inset;
}

.header-bottom .header-user {
  min-width: 200px;
  height: 50px;
}

.header-bottom .header-user img {
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
}

.header-bottom .header-user a {
  min-width: 70px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  display: block;
  padding: 0 10px;
  text-align: center;
  float: left;
}

/* 底部样式 */
#footer {
  min-width: 1200px;
  background-color: #999999;
  margin-top: 10px;
}

.footer-content .footer-nav {
  width: 310px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.footer-content .footer-nav li {
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.footer-content .footer-nav li a {
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 0 10px;
  margin: 13px 0;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-left: #333 solid 1px;
}