.filter {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.filter .species {
  height: 40px;
  border-bottom: #e83632 solid 3px;
}

.filter .species ul {
  list-style: none;
  padding-left: 0;
}

.filter .species ul li a {
  width: 60px;
  line-height: 40px;
  float: left;
  text-align: center;
  border-radius: 5px;
}

.filter .species ul li a.active,
.filter .species ul li a:hover {
  background-color: red;
  color: #ffffff;
}

.filter .feature ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  font-size: 16px;
  border-bottom: #cccccc dotted 2px;
  padding-bottom: 10px;
}

.filter .feature ul:last-child {
  border: none;
}

.filter .feature ul li {
  float: left;
  text-align: center;
  padding: 5px 15px;

}

.filter .feature ul .title {
  width: 100px;
  font-weight: bolder;
  color: black;
  margin-right: 10px;
  padding-right: 10px;
  border-right: #e83632 solid 1px;
}

.filter .feature ul .item {
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;

}

.filter .feature ul .item a {
  text-decoration: none;
  color: #000;
}

.filter .feature ul .item.active,
.filter .feature ul .item:hover {
  background-color: red;
  color: #ffffff;
}

.filter .feature ul .item:hover a,
.filter .feature ul .item.active a {
  color: #fff;
}

.result {
  width: 1200px;
  margin: 0 auto;
  border: #cccccc solid 1px;
  border-radius: 10px;
}

.result .title {
  color: #000000;
  font-size: 16px;
  padding: 10px;
  border-bottom: #cccccc dotted 2px;
}

.result .title span {
  color: #e83632;
}

.result .content ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 15px;
}

.result .content ul li {
  background-color: #fff;
}

.result .content ul li a {
  width: 570px;
  height: 300px;
  margin: 10px 10px 0px 0px;
  float: left;
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1), 4px 4px 10px -8px rgba(0, 0, 0, .3);
  background-color: #fff;
}

.result .content ul li a img {
  width: 260px;
  height: 260px;
  margin: 20px;
  float: left;
  display: block;
  border-radius: 10px;
  border: #cccccc solid 1px;
  padding: 5px;
}

.result .content ul li a .right {
  float: left;
  width: 270px;
  height: 290px;
  padding-top: 40px;
  position: relative;
}

.result .content ul li a .right .name {
  width: 270px;
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.result .content ul li a .right .item {
  width: 135px;
  font-size: 14px;
  color: #cccccc;
  margin: 15px 0;
  float: left;
}

.result .content ul li a .right .item span {
  color: #000000;
  font-size: 16px;
}

.result .content ul li a .right .price {
  color: #e83632;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-size: 900;
}

.result .content ul li a .right .price>span:first-child {
  font-size: 24px;
  font-weight: 600;
}

#page {
  width: 565px;
  margin: 0 auto;
}