<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/paimai.css">
  <title>Document</title>
</head>

<body>
  <div class="paimai">
    <div class="title">
      <p>优宠拍卖</p>
      <img src="images/icons/hammer.png" alt="">
    </div>
    <div class="products">
      <ul>
        <li>
          <img src="images/products/dog1.jpg" alt="">
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</body>

</html>