<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/demo.css">
  <link rel="stylesheet" href="css/search.css">
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="css/flat-ui.min.css">
  <title>宠爱</title>
</head>

<body>
  <div id="header">
    <div class="header-top w-1200">
      <div class="logo">
        <img src="images/icons/logo.png" alt="">
        宠爱
      </div>
      <div class="search">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn"><span class="fui-search"></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="w-1200">
        <ul class="header-nav">
          <li><a href="#" class="active">首页</a></li>

          <li><a href="#">我的订单</a></li>
          <li><a href="#">我的收藏</a></li>
        </ul>
        <div class="header-user float-right">
          <a href="#">登录</a>
          <a href="#">注册</a>
        </div>
      </div>
    </div>
  </div>
  <div class="filter clearfix">
    <div class="species">
      <ul>
        <li><a href="#" class="active">狗</a></li>
        <li><a href="#">猫</a></li>
        <li><a href="#">兔</a></li>
        <li><a href="#">龟</a></li>
        <li><a href="#">鸟</a></li>
      </ul>
    </div>
    <div class="feature">
      <ul class="clearfix">
        <li class="title">体型</li>
        <li class="item active"><a href="#">不限</a></li>
        <li class="item"><a href="#">大型</a></li>
        <li class="item"><a href="#">中型</a></li>
        <li class="item"><a href="#">小型</a></li>
      </ul>
      <ul class="clearfix">
        <li class="title">毛长</li>
        <li class="item active"><a href="#">不限</a></li>
        <li class="item"><a href="#">无毛</a></li>
        <li class="item"><a href="#">短毛</a></li>
        <li class="item"><a href="#">长毛</a></li>
      </ul>
      <ul class="clearfix">
        <li class="title">毛色</li>
        <li class="item active"><a href="#">不限</a></li>
        <li class="item"><a href="#">白色</a></li>
        <li class="item"><a href="#">黑色</a></li>
        <li class="item"><a href="#">灰色</a></li>
        <li class="item"><a href="#">褐色</a></li>
        <li class="item"><a href="#">红棕色</a></li>
        <li class="item"><a href="#">咖啡色</a></li>
        <li class="item"><a href="#">陨石色</a></li>
        <li class="item"><a href="#">貂色</a></li>
        <li class="item"><a href="#">其他颜色</a></li>
      </ul>
      <ul class="clearfix">
        <li class="title">功能</li>
        <li class="item active"><a href="#">不限</a></li>
        <li class="item"><a href="#">伴侣犬</a></li>
        <li class="item"><a href="#">牧羊犬</a></li>
        <li class="item"><a href="#">梗类犬</a></li>
        <li class="item"><a href="#">守卫犬</a></li>
        <li class="item"><a href="#">枪猎犬</a></li>
        <li class="item"><a href="#">看家犬</a></li>
        <li class="item"><a href="#">雪橇犬</a></li>
        <li class="item"><a href="#">玩赏犬</a></li>
        <li class="item"><a href="#">其他</a></li>
      </ul>
      <ul class="clearfix">
        <li class="title">特点</li>
        <li class="item active"><a href="#">不限</a></li>
        <li class="item"><a href="#">不爱叫</a></li>
        <li class="item"><a href="#">无体味</a></li>
        <li class="item"><a href="#">少掉毛</a></li>
        <li class="item"><a href="#">少口水</a></li>
        <li class="item"><a href="#">易训练</a></li>
        <li class="item"><a href="#">粘人</a></li>
        <li class="item"><a href="#">耐寒</a></li>
        <li class="item"><a href="#">耐热</a></li>
        <li class="item"><a href="#">爱护家</a></li>
      </ul>
      <ul class="clearfix">
        <li class="title">友善程度</li>
        <li class="item active"><a href="#">不限</a></li>
        <li class="item"><a href="#">一般</a></li>
        <li class="item"><a href="#">非常</a></li>
        <li class="item"><a href="#">脾气暴躁</a></li>
      </ul>
    </div>
  </div>

  <div class="result">
    <div class="title">
      搜索到<span>251</span>条相关记录
    </div>
    <div class="content">
      <ul class="clearfix">
        <li>
          <a>
            <img src="images/products/dog1.jpg" alt="">
            <div class="right">
              <div class="name">澳大利亚牧羊犬</div>
              <div class="item">体重:&nbsp;&nbsp; <span>56</span><span>千克</span></div>
              <div class="item">肩高:&nbsp;&nbsp; <span>56</span><span>厘米</span></div>
              <div class="item">毛色:&nbsp;&nbsp; <span>白色</span></div>
              <div class="item">年龄:&nbsp;&nbsp; <span>三个月</span></div>
              <div class="price">￥<span>5600.</span><span>00</span></div>
            </div>
          </a>
        </li>
        <li>
          <a>
            <img src="images/products/dog1.jpg" alt="">
            <div class="right">
              <div class="name">澳大利亚牧羊犬</div>
              <div class="item">体重:&nbsp;&nbsp; <span>56</span><span>千克</span></div>
              <div class="item">肩高:&nbsp;&nbsp; <span>56</span><span>厘米</span></div>
              <div class="item">毛色:&nbsp;&nbsp; <span>白色</span></div>
              <div class="item">年龄:&nbsp;&nbsp; <span>三个月</span></div>
              <div class="price">￥<span>5600.</span><span>00</span></div>
            </div>
          </a>
        </li>
        <li>
          <a>
            <img src="images/products/dog1.jpg" alt="">
            <div class="right">
              <div class="name">澳大利亚牧羊犬</div>
              <div class="item">体重:&nbsp;&nbsp; <span>56</span><span>千克</span></div>
              <div class="item">肩高:&nbsp;&nbsp; <span>56</span><span>厘米</span></div>
              <div class="item">毛色:&nbsp;&nbsp; <span>白色</span></div>
              <div class="item">年龄:&nbsp;&nbsp; <span>三个月</span></div>
              <div class="price">￥<span>5600.</span><span>00</span></div>
            </div>
          </a>
        </li>
        <li>
          <a>
            <img src="images/products/dog1.jpg" alt="">
            <div class="right">
              <div class="name">澳大利亚牧羊犬</div>
              <div class="item">体重:&nbsp;&nbsp; <span>56</span><span>千克</span></div>
              <div class="item">肩高:&nbsp;&nbsp; <span>56</span><span>厘米</span></div>
              <div class="item">毛色:&nbsp;&nbsp; <span>白色</span></div>
              <div class="item">年龄:&nbsp;&nbsp; <span>三个月</span></div>
              <div class="price">￥<span>5600.</span><span>00</span></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="footer">
    <div class="footer-content w-1200">
      <ul class="footer-nav clearfix">
        <li><a href="#" class="border-0">用户协议</a></li>
        <li><a href="#">意见反馈</a></li>
        <li><a href="#">标签合集</a></li>
        <li><a href="#">网站地图</a></li>
      </ul>
      <div>有权链接</div>
      <hr style="margin: 0;">
      <div class="text-center">@网站版本信息</div>
    </div>

  </div>
</body>

</html>